<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.DayKLineMapper">
    <insert id="insertDayKLine" parameterType="com.stock.dayprice.DataPo" >
    insert into DayLine ( stockId, volume,
      open, high, close, low,
      chg, percent, turnrate,
      ma5, ma10, ma20, ma30,
      dif, dea, macd, lot_volume,
      timestamp, time)
    values (#{stockId,jdbcType=VARCHAR}, #{volume,jdbcType=INTEGER},
      #{open,jdbcType=DOUBLE}, #{high,jdbcType=DOUBLE}, #{close,jdbcType=DOUBLE}, #{low,jdbcType=DOUBLE},
      #{chg,jdbcType=DOUBLE}, #{percent,jdbcType=DOUBLE}, #{turnrate,jdbcType=DOUBLE},
      #{ma5,jdbcType=DOUBLE}, #{ma10,jdbcType=DOUBLE}, #{ma20,jdbcType=DOUBLE}, #{ma30,jdbcType=DOUBLE},
      #{dif,jdbcType=DOUBLE}, #{dea,jdbcType=DOUBLE}, #{macd,jdbcType=DOUBLE}, #{lot_volume,jdbcType=INTEGER},
      #{timestamp,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR})
  </insert>
</mapper>