<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.po.StockComment">
        INSERT INTO #{stockId} (text,date) VALUES (#{text},#{date});
    </insert>
    <insert id="addStockComment" parameterType="stockComment">
        insert into   `${stockId}` (text,date) values(#{text},#{date})
    </insert>
</mapper>